language: python

python:
  - "3.8"

os:
  - linux

script:
  - pip3 install --upgrade setuptools
  - pip3 install -r requirements-dev.txt
  - pip3 install coverage codacy-coverage
  - pip3 install .
  - python3 setup.py test

after_success:
  - 'if [ ! -z "${CODACY_PROJECT_TOKEN}" ]; then coverage run setup.py test; coverage xml; bash <(curl -Ls https://coverage.codacy.com/get.sh) report -r coverage.xml; fi'