exclude .*
exclude environment.yml requirements.txt  Makefile
exclude environment-dev.yml requirements-dev.txt azure-pipelines.yml readthedocs.yml
recursive-exclude docs *
recursive-exclude examples *
recursive-exclude pytests *
recursive-exclude testdata *
recursive-exclude tutorials *
