numpy>=1.21.0,<2.0.0
scipy>=1.4.0,<=1.13.0
--extra-index-url https://download.pytorch.org/whl/cpu
torch>=1.2.0
numba
pyfftw
PyWavelets
spgl1
scikit-fmm
sympy
devito
dtcwt
matplotlib
ipython
pytest
pytest-runner
setuptools_scm
docutils<0.18
Sphinx
pydata-sphinx-theme
sphinx-gallery
numpydoc
nbsphinx
image
pre-commit
autopep8
isort
black
flake8
mypy
