numpy>=2.0.0
scipy>=1.13.0
cupy-cuda12x
torch
numba
sympy
matplotlib
ipython
pytest
pytest-runner
setuptools_scm
docutils<0.18
Sphinx
pooch
pydata-sphinx-theme
sphinx-gallery
sphinxemoji
numpydoc
nbsphinx
image
pre-commit
autopep8
isort
black
flake8
mypy
