numpy>=1.21.0,<2
scipy>=1.11.0
jax>=0.4
numba
pyfftw
PyWavelets>=1.7
spgl1
scikit-fmm
sympy
devito>=4.8.11
dtcwt
matplotlib
ipython
pytest
pytest-runner
setuptools_scm
docutils>=0.18
Sphinx
pydata-sphinx-theme
sphinx-gallery
sphinxemoji
numpydoc
nbsphinx
image
pre-commit
autopep8
isort
black
flake8
mypy
pymc>=5
pytensor>=2.23
pandas>=2
arviz>=0.20
contourpy>=1.3
graphviz
