# Currently we force rdt to use numpy<2.0.0 to build the documentation
# since the dtcwt is not yet compatible with numpy=2.0.0. For the
# same reason, we force devito==4.8.7 as later versions of devito
# require numpy>=2.0.0
numpy>=1.21.0,<2.0.0
scipy>=1.11.0
jax
numba
pyfftw
PyWavelets
spgl1
scikit-fmm
sympy
devito==4.8.8
dtcwt
matplotlib
ipython
pytest
pytest-runner
setuptools_scm
docutils<0.18
Sphinx
pydata-sphinx-theme
sphinx-gallery
sphinxemoji
numpydoc
nbsphinx
image
pre-commit
autopep8
isort
black
flake8
mypy
