mkl
mkl-fft
mkl-service
numpy>=1.21.0
scipy>=1.4.0
torch>=1.2.0
numba
pyfftw
PyWavelets
spgl1
scikit-fmm
sympy
devito
matplotlib
ipython
pytest
pytest-runner
setuptools_scm
docutils<0.18
Sphinx
sphinx-rtd-theme
sphinx-gallery
numpydoc
nbsphinx
image
pre-commit
autopep8
isort
black
flake8
mypy
